#imageContainer {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.imageWrapper {
    position: relative;
}

.uploadedImage {
    max-width: 300px;
    max-height: 300px;
    margin-bottom: 10px;
}

.btn-close {
    position: absolute;
    top: 5px;
    right: 5px;
    background: transparent;
    border: none;
    color: red;
    cursor: pointer;
    padding: 0;
    font-size: 20px;
}
